<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<!-- START_HIGHLIGHT -->
<% cache ['store', Product.latest] do %>
<!-- END_HIGHLIGHT -->
  <% @products.each do |product| %>
<!-- START_HIGHLIGHT -->
    <% cache ['entry', product] do %>
<!-- END_HIGHLIGHT -->
      <div class="entry">
        <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        
        <%if product.store_location_towson_inventory > 0 && product.store_location_online_inventory < 1%>
        	<span class="message">Available Towson Only - </span>
        	<span class="message_2">In Stock: <%=product.store_location_towson_inventory%></span>
        <%elsif product.store_location_towson_inventory < 1 && product.store_location_online_inventory > 0%>
        	<span class="message">Available Online Only - </span>
        	<span class="message_2">In Stock: <%=product.store_location_online_inventory%></span>
        <%else%>
        	<span class="message_2">Available online and at the Towson Store - </span>
        	<span class="message_2">In Stock Online: <%=product.store_location_online_inventory%>, In Stock at Towson: <%=product.store_location_towson_inventory%></span>
        <%end%>
        <%= sanitize(product.description) %>
        <div class="price_line">
    <!-- START:currency -->
	<span class="price"><%=number_to_currency(product.price, :unit =>"$")%></span>
	<span class="price"><%=number_to_currency(GoogCurrency.usd_to_gbp(product.price), :unit => "£")%></span>
	<span class="price"><%=number_to_currency(GoogCurrency.usd_to_eur(product.price), :unit => "€")%></span>
	<span class="price"><%=number_to_currency(GoogCurrency.usd_to_chf(product.price), :unit => "CHF")%></span>
    <!-- END:currency -->
        </div>
      </div>
<!-- START_HIGHLIGHT -->
    <% end %>
<!-- END_HIGHLIGHT -->
  <% end %>
<!-- START_HIGHLIGHT -->
<% end %>
<!-- END_HIGHLIGHT -->
